# DSCI 100: Introduction to Data Science

## Worksheet Activity 3 - Wrangling Flowers

Calculate the mean petal length for each of the Iris (flower) species in the `iris` dataset.

In [1]:
library(tidyverse)
head(iris)

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.2.0     ✔ purrr   0.3.2
✔ tibble  2.1.3     ✔ dplyr   0.8.3
✔ tidyr   0.8.3     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [4]:
# your code here
petal_length <- iris %>%
                group_by(Species) %>%
                summarize(mean_length = mean(Petal.Length))
petal_length

  Species    mean_length
1 setosa     1.462
2 versicolor 4.260
3 virginica  5.552

Use `map_df` to caclulate the mean of each of the numerical columns in the `iris` dataset.

In [ ]:
# your code here
fail() # No Answer - remove if you provide an answer