# DSCI 100: Introduction to Data Science

## Tutorial 3 Class activity

Run the below cell to load `tidyverse` and inspect the `mtcars` dataframe:

In [1]:
library(tidyverse)
head(mtcars)

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.2.0     ✔ purrr   0.3.2
✔ tibble  2.1.3     ✔ dplyr   0.8.3
✔ tidyr   0.8.3     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

**Q1.** Is this dataset tidy? Why or why not? Discuss with your neighbour!

**Q2.** What do the variable names mean? Use manual documentation to find out!

In [2]:
# Replace the fail() with your answer. 

# your code here
# ?mtcars

**Q3.** We can start by generating summary statistics for each variable in the dataset. Calculate the mean for each variable in this dataset

In [5]:
# your code here
map_df(mtcars,~ mean(., na.rm  = TRUE))

  mpg      cyl    disp     hp       drat     wt      qsec     vs     am
1 20.09062 6.1875 230.7219 146.6875 3.596563 3.21725 17.84875 0.4375 0.40625
  gear   carb
1 3.6875 2.8125

**Q4.** What is the minimum time to complete a quarter mile for vehicles of each type of transmission?

In [8]:
# your code here
group_by(mtcars, am) %>%
    summarize(min = min(qsec))

  am min
1 0  15.41
2 1  14.50